.my-slide-menu{
  background: white;
  .mui-slider-group{
    height:0;
  }
  .mui-segmented-control.mui-scroll-wrapper{
    height:39px;
    .mui-control-item{
      border-bottom:1px solid transparent !important;
      color:#999;
      &.mui-active{
        border-bottom-color:#a3c469 !important;
        color:#a3c469 !important;
        font-weight: 600;
      }
    }
  }
}