///*css reset*/
$winw: 6.4rem;
//
html{font-size:100px;
  -webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul, ol, p, h1, h2, h3, h4, h5, h6, dl, dt, dd ,form ,textarea ,input{margin:0;}
body{
  font-size: 16px;
  font-family:'Microsoft YaHei', Arial, Helvetica, sans-serif!important;
  font-weight: normal;
  overflow-x: hidden;
  width:$winw;
  position: relative;
  margin: 0 auto;
}
img{width:100%;}
.max_width{
  width:$winw;
  margin:0 auto;
  position: relative;
  overflow: hidden;
}
#container{
  display: block;
  width:$winw;
  margin: 0 auto;
}
.clear{
  width:100%;
  height:0;
  clear:both;
}
a, input{
  -webkit-tap-highlight-color:transparent;
  -webkit-appearance: none;
  text-decoration: none;
}
.b_e0{
  border-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpsjUsKwDAIRKci3v+CgYi3UIjNZFVCHwwu5uMTEZ2ZMDPwqirWWsAYozf4as7ZwuSNiEBYv+GUcPMPpevuzfp5uqkqvAIMAIGPMmoPeFO3AAAAAElFTkSuQmCC) 2 stretch repeat !important;
}
.b_d1{
  border-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACtJREFUeNpivHjx4n8GLIAFROjp6TEiC166dOk/EwMOQLoEC8xMdAmAAAMA474K9ygUw3kAAAAASUVORK5CYII=) 2 stretch repeat !important;
}

.container{
  width:$winw;
  position:relative;
}

.headercon{
  padding-top:44px;
}
.mainrecti{
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  color: #999;
  font-size: 14px;
}
.mui-slider-title{
  color:#d1d1d1;
}

ul.sample{
  display: block;
  li{
    display: block;
    padding: 15px;
  }
}