$w:6.4rem;
$h:3.8rem;

.iscroll_carousel{
  width:$w;
  position: relative;
  height:$h;
  z-index: 50;
  .car_ul{
    display: block;
    width:6000px;
    height:$h;
    margin:0;
    padding:0;
    overflow: hidden;
  }
  .li{
    list-style: none;
    display: none;
    position:absolute;
    //float:left;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 51;
    &.active,
    &.prev,
    &.next{
      z-index: 55;
      display: block;
    }
  }
  .caim{
    display: block;
    width:$w;
    height:$h;
    background: #d1d1d1;
  }
  .cati{
    display: block;
    position:absolute;
    z-index: 55;
    width:6.4rem;
    height:0.5rem;
    bottom:0;
    left:0;
    color:#d1d1d1;
    font-size:0.24rem;
    line-height: 0.5rem;
    background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0));
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
    .pin{
      margin-left:0.2rem;
      display: block;
      width:5rem;
      height:0.5rem;
      line-height: 0.5rem;
      overflow: hidden;
    }
  }
  .car_indicator{
    position: absolute;
    bottom:0.15rem;
    right:0.2rem;
    width:auto;
    height:0.12rem;
    text-align: right;
    line-height: 0.12rem;
    z-index: 55;
    font-size: 0.12rem;
    .i{
      display: inline-block;
      width:0.12rem;
      height:0.12rem;
      margin-left:0.05rem;
      color:#999;
      position: relative;
      &.active{
        color:white;
      }
    }
  }
}
