.rd_iscroll_ptr {
  position: relative;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  overflow: hidden;
}

.ptr_scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.pullup,
.pulldown{
  position: relative;
  width:100%;
  height:0.8rem;
  left:0;
  top:0;
  text-align: center;
  .tx{
    display: block;
    font-size:0.22rem;
    color:#999;
    line-height:0.35rem;
  }
  .refreshText{
    color:#333;
    padding-top:0.1rem;
    font-size:0.26rem;
  }
  .si{
    position: absolute;
    left: 50%;
    top: 0.35rem;
    margin-left: -2.4rem;
    font-weight: bold;
    color: #999;
    &.i2,
    &.i1{
      margin-left:-2.4rem;
    }
    &.i3{
      width:0.4rem;
      height:0.4rem;
      text-align: center;
      line-height: 0.4rem;
      margin-left:-2.5rem;
      top:0.25rem;
    }
    &.i3:before{
      font-size:0.3rem;
    }
    &.up{
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      -ms-transition: -ms-transform 0.5s;
      -o-transition: -o-transform 0.5s;
      transition: transform 0.5s;
    }
  }
}
.pullup{
  display: none;
  &.show{
    display: block;
  }
  .i1,.i2,.i3,.i4{
    display: none;
  }
  .tx{
    color:#999;
  }
  .si{
    top:0.25rem;
    margin-left:-1.4rem;
    line-height:0.35rem;
    &.i1{
      margin-left:-1.4rem;
    }
  }
  .refreshText{
    padding:0;
    height:0.8rem;
    line-height:0.8rem;
  }
  &.pu1{
     .i1{
       display: block;
     }
  }
  &.pu2{
    .si.i1{
      display: block;
    }
    .tx.i2{
      display: block;
    }
  }
  &.pu3{
    .i3{
      display: block;

    }
    .si.i3{
      margin-left:-1.5rem;
    }
  }
  &.pu4{
    .i4{
      display: block;
    }
  }
  &.up{
    .si.i1{
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      -ms-transition: -ms-transform 0.5s;
      -o-transition: -o-transform 0.5s;
      transition: transform 0.5s;
    }
  }
}
.scroll_content{
  width:100%;
}