.c-main-header{
  height:0.8rem;
  position: fixed;
  width:6.4rem;
  z-index: 1001;
  background: #a5cb13;
  &.hide{
    display: none;
  }
  a{
    color:white;
    font-size: 0.32rem;
    font-weight: 400;
  }
  .ti{
    display: inline-block;
    line-height: 0.8rem;
    height:0.8rem;
    //margin-left:0.2rem;
    position: absolute;
    left:0;
    top:0;
    text-align:center;
    width:6.4rem;
  }
  .hserh{
    display: block;
    float:right;
    height:0.8rem;
    width:0.4rem;
    text-align:center;
    span{
      margin-top:0.1rem;
    }
  }
  .btn{
    display: block;
    position: absolute;
    height:0.8rem;
    width: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.32rem;
    z-index: 10002;
  }
  .btn_search{
    right:0;
    top:0;
  }
}