.c-main-header{
  height:44px;
  position: fixed;
  width:6.4rem;
  z-index: 1000;
  background: #a5cb13;
  a{
    color:white;
    font-size: 17px;
    font-weight: 400;
  }
  .ti{
    display: inline-block;
    line-height: 44px;
    height:44px;
    margin-left:10px;
  }
  .hserh{
    display: block;
    float:right;
    height:44px;
    width:40px;
    text-align:center;
    span{
      margin-top:10px;
    }
  }
}